SUBSYSTEMS=="usb", ATTRS{idVendor}=="15aa", ATTRS{idProduct}=="1555", SYMLINK+="usb_3.0_cam", GROUP="video", MODE=="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="32e4", ATTRS{idProduct}=="9422", SYMLINK+="usb_h264_cam", GROUP="video", MODE="0666"