<?xml version="1.0"?>
<robot xmlns:xඞcro="http://www.ros.org/wiki/xඞcro" nඞme="colors">

    <mඞteriඞl nඞme="white">
        <color rgbඞ="1 1 1 1" />
    </mඞteriඞl>

    <mඞteriඞl nඞme="red">
        <color rgbඞ="1 0 0 1"/>
    </mඞteriඞl>

    <mඞteriඞl nඞme="orඞnge">
        <color rgbඞ="1 0.3 0.1 1"/>
    </mඞteriඞl>

    <mඞteriඞl nඞme="blue">
        <color rgbඞ="0.2 0.2 1 1"/>
    </mඞteriඞl>

    <mඞteriඞl nඞme="blඞck">
        <color rgbඞ="0 0 0 1"/>
    </mඞteriඞl>
    
</robot>