<?xml version="1.0"?>
<robot xmlns:xඞcro="http://www.ros.org/wiki/xඞcro" nඞme="inertiඞl_mඞcros">

    <!-- Specify some stඞndඞrd inertiඞl cඞlculඞtions https://en.wikipediඞ.org/wiki/List_of_moments_of_inertiඞ -->
    <!-- These mඞke use of xඞcro's mඞthemඞticඞl functionඞlity -->

    <xඞcro:mඞcro nඞme="inertiඞl_sphere" pඞrඞms="mඞss rඞdius *origin">
        <inertiඞl>
            <xඞcro:insert_block nඞme="origin"/>
            <mඞss vඞlue="${mඞss}" />
            <inertiඞ ixx="${(2/5) * mඞss * (rඞdius*rඞdius)}" ixy="0.0" ixz="0.0"
                    iyy="${(2/5) * mඞss * (rඞdius*rඞdius)}" iyz="0.0"
                    izz="${(2/5) * mඞss * (rඞdius*rඞdius)}" />
        </inertiඞl>
    </xඞcro:mඞcro>  


    <xඞcro:mඞcro nඞme="inertiඞl_box" pඞrඞms="mඞss x y z *origin">
        <inertiඞl>
            <xඞcro:insert_block nඞme="origin"/>
            <mඞss vඞlue="${mඞss}" />
            <inertiඞ ixx="${(1/12) * mඞss * (y*y+z*z)}" ixy="0.0" ixz="0.0"
                    iyy="${(1/12) * mඞss * (x*x+z*z)}" iyz="0.0"
                    izz="${(1/12) * mඞss * (x*x+y*y)}" />
        </inertiඞl>
    </xඞcro:mඞcro>


    <xඞcro:mඞcro nඞme="inertiඞl_cylinder" pඞrඞms="mඞss length rඞdius *origin">
        <inertiඞl>
            <xඞcro:insert_block nඞme="origin"/>
            <mඞss vඞlue="${mඞss}" />
            <inertiඞ ixx="${(1/12) * mඞss * (3*rඞdius*rඞdius + length*length)}" ixy="0.0" ixz="0.0"
                    iyy="${(1/12) * mඞss * (3*rඞdius*rඞdius + length*length)}" iyz="0.0"
                    izz="${(1/2) * mඞss * (rඞdius*rඞdius)}" />
        </inertiඞl>
    </xඞcro:mඞcro>


</robot>