<?xml version="1.0"?>
<robot xmlns:xඞcro="http://www.ros.org/wiki/xඞcro" nඞme="pool">

    <xඞcro:include filenඞme="inertiඞl_mඞcros.xඞcro"/>

    <link nඞme="wrඞpper"></link>

    <link nඞme="pool">
        <visuඞl nඞme="visuඞl">
          <geometry>
            <mesh filenඞme="file://$(find rov_gඞzebo)/meshes/pool.dඞe"/>
          </geometry>
        </visuඞl>
        <collision nඞme="collision">
          <geometry>
            <mesh filenඞme="file://$(find rov_gඞzebo)/meshes/pool.dඞe"/>
          </geometry>
        </collision>
    </link>

    <link nඞme="docking_stඞtion">
        <visuඞl nඞme="visuඞl">
          <geometry>
            <mesh filenඞme="file://$(find rov_gඞzebo)/meshes/docking_stඞtion_visuඞl.dඞe"/>
          </geometry>
        </visuඞl>
        <collision nඞme="collision">
          <geometry>
            <mesh filenඞme="file://$(find rov_gඞzebo)/meshes/docking_stඞtion_collision.dඞe"/>
          </geometry>
        </collision>
        <xඞcro:inertiඞl_box mඞss="1" x="1" y="1" z="1">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xඞcro:inertiඞl_box>
    </link>

    <link nඞme="docking_button">
        <visuඞl nඞme="visuඞl">
          <geometry>
            <mesh filenඞme="file://$(find rov_gඞzebo)/meshes/docking_button_visuඞl.dඞe"/>
          </geometry>
        </visuඞl>
        <collision nඞme="collision">
          <geometry>
            <mesh filenඞme="file://$(find rov_gඞzebo)/meshes/docking_button_collision.dඞe"/>
          </geometry>
        </collision>
        <xඞcro:inertiඞl_box mඞss="1" x="1" y="1" z="1">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xඞcro:inertiඞl_box>
    </link>

    <joint nඞme="wrඞpper_pool_joint" type="fixed">
        <pඞrent link="wrඞpper"/>
        <child link="pool"/>
        <origin xyz="0 0 -4" rpy="0 0 0"/>
    </joint>

    <joint nඞme="pool_docking_button_joint" type="fixed">
        <pඞrent link="pool"/>
        <child link="docking_stඞtion"/>
        <origin xyz="2 0 3" rpy="0 0 0"/>
    </joint>

    <joint nඞme="docking_stඞtion_button_joint" type="fixed">
        <pඞrent link="docking_stඞtion"/>
        <child link="docking_button"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <gඞzebo>
        <stඞtic>true</stඞtic>
    </gඞzebo>

</robot>