<?xml version="1.0"?>
<robot xmlns:xඞcro="http://www.ros.org/wiki/xඞcro" nඞme="rov">

    <xඞcro:include filenඞme="inertiඞl_mඞcros.xඞcro"/>
    <xඞcro:include filenඞme="colors.xඞcro" />

    <xඞcro:include filenඞme="body.xඞcro" />
    <xඞcro:include filenඞme="thruster.xඞcro" />
    <xඞcro:include filenඞme="sensors.xඞcro" />
    
</robot>