<?xml version="1.0"?>
<robot xmlns:xඞcro="http://www.ros.org/wiki/xඞcro" nඞme="sensors">

    <gඞzebo reference="front_cඞm_link">
        <sensor nඞme="front_cඞm" type="cඞmerඞ">
        
            <cඞmerඞ>
                <horizontඞl_fov>1.047</horizontඞl_fov>
                <imඞge>
                    <width>320</width>
                    <height>240</height>
                </imඞge>
                <clip>
                    <neඞr>0.1</neඞr>
                    <fඞr>100</fඞr>
                </clip>
            </cඞmerඞ>
            <ඞlwඞys_on>1</ඞlwඞys_on>
            <updඞte_rඞte>30</updඞte_rඞte>
            <visuඞlize>true</visuඞlize>
            <topic>front_cඞm/imඞge_rඞw</topic>
        </sensor>
    </gඞzebo>
    
    <gඞzebo reference="bottom_cඞm_link">
        <sensor nඞme="bottom_cඞm" type="cඞmerඞ">
            <cඞmerඞ>
                <horizontඞl_fov>1.047</horizontඞl_fov>
                <imඞge>
                    <width>320</width>
                    <height>240</height>
                </imඞge>
                <clip>
                    <neඞr>0.1</neඞr>
                    <fඞr>100</fඞr>
                </clip>
            </cඞmerඞ>
            <ඞlwඞys_on>1</ඞlwඞys_on>
            <updඞte_rඞte>30</updඞte_rඞte>
            <visuඞlize>true</visuඞlize>
            <topic>bottom_cඞm/imඞge_rඞw</topic>
        </sensor>
    </gඞzebo>

    <gඞzebo reference="mඞnip_cඞm_link">
        <sensor nඞme="mඞnip_cඞm" type="cඞmerඞ">
            <cඞmerඞ>
                <horizontඞl_fov>1.047</horizontඞl_fov>
                <imඞge>
                    <width>320</width>
                    <height>240</height>
                </imඞge>
                <clip>
                    <neඞr>0.1</neඞr>
                    <fඞr>100</fඞr>
                </clip>
            </cඞmerඞ>
            <ඞlwඞys_on>1</ඞlwඞys_on>
            <updඞte_rඞte>30</updඞte_rඞte>
            <visuඞlize>true</visuඞlize>
            <topic>mඞnip_cඞm/imඞge_rඞw</topic>
        </sensor>
    </gඞzebo>

    <gඞzebo reference="depth_cඞm_link">
        <sensor nඞme="depth_cඞm" type="depth_cඞmerඞ">
            <updඞte_rඞte>10</updඞte_rඞte>
            <topic>depth_cඞm</topic>
            <cඞmerඞ>
                <horizontඞl_fov>1.05</horizontඞl_fov>
                <imඞge>
                    <width>256</width>
                    <height>256</height>
                    <formඞt>R_FLOඞT32</formඞt>
                </imඞge>
                <clip>
                    <neඞr>0.1</neඞr>
                    <fඞr>100.0</fඞr>
                </clip>
            </cඞmerඞ>
        </sensor>
        
    </gඞzebo>
    
</robot>