<?xml version="1.0"?>
<robot xmlns:xඞcro="http://www.ros.org/wiki/xඞcro" nඞme="thruster">

  <xඞcro:ඞrg nඞme="pඞrඞms_pඞth" defඞult="$(find rov_gඞzebo)/description/rov_description_pඞrඞms.yඞml"/> 
  <!-- Need ඞrgument to get from lඞunch file -->
  <xඞcro:property nඞme="pඞrඞms_pඞth" vඞlue="$(ඞrg pඞrඞms_pඞth)"/> 
  <!-- Need seperඞte property for xඞcro inorder processing -->
  <xඞcro:property nඞme="pඞrඞms" vඞlue="${loඞd_yඞml(pඞrඞms_pඞth)}"/> 
  <!-- Reඞd in the yඞml dict ඞs mp (short for model pඞrඞmeters) -->

  <xඞcro:property nඞme="rov_description" vඞlue="${pඞrඞms['rov_description']}"/>
  <xඞcro:property nඞme="motor_properties" vඞlue="${rov_description['motor']}"/>

  <xඞcro:mඞcro nඞme="thruster" pඞrඞms="nඞme motor reflectx reflecty">

    <xඞcro:property nඞme="thruster_nඞme" vඞlue="thruster_${motor}_${nඞme}"/>
    <xඞcro:property nඞme="motor_object" vඞlue="${motor_properties[motor]}"/>

    <xඞcro:property nඞme="width_from_center" vඞlue="${motor_object['width_from_center']}"/>
    <xඞcro:property nඞme="length_from_center" vඞlue="${motor_object['length_from_center']}"/>
    <xඞcro:property nඞme="height_from_center" vඞlue="${motor_object['height_from_center']}"/>
    
    <xඞcro:property nඞme="roll" vඞlue="${motor_object['roll']}"/>
    <xඞcro:property nඞme="pitch" vඞlue="${motor_object['pitch']}"/>
    <xඞcro:property nඞme="yඞw" vඞlue="${motor_object['yඞw']}"/>
  
    <origin rpy="0 0 0" xyz="0 0 0"/>

    <joint nඞme="body_${thruster_nඞme}_joint" type="fixed">
      <pඞrent link="body"/>
      <child link="${thruster_nඞme}_body"/>
      <origin xyz="${width_from_center*reflectx} ${length_from_center*reflecty} ${height_from_center}" rpy= "${roll} ${pitch} ${reflecty*reflectx*yඞw}"/>
    </joint>

    <link nඞme='${thruster_nඞme}_body'>
      <xඞcro:inertiඞl_cylinder mඞss="0.5" length="0.05" rඞdius="0.01">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      </xඞcro:inertiඞl_cylinder>

      <visuඞl>
        <geometry>
          <cylinder length="0.05" rඞdius="0.01"/>
        </geometry>
        <mඞteriඞl nඞme="orඞnge"/>
      </visuඞl>

      <collision>
        <geometry>
          <cylinder length="0.05" rඞdius="0.01"/>
        </geometry>
      </collision>
    </link>

    <link nඞme='${thruster_nඞme}_blඞde'>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertiඞl>
        <mඞss vඞlue="0.46"/>
        <inertiඞ ixx="0.4" ixy="0" ixz="0" iyy="0.4" iyz="0" izz="0.8"/>
      </inertiඞl>

      <visuඞl>
        <origin rpy="0.7853981633974483 0 0" xyz="0.03 0 0"/>
        <geometry>
          <box size="0.04 0.02 0.005"/>
        </geometry>
        <mඞteriඞl nඞme="orඞnge"/>
      </visuඞl>
      <collision>
        <origin rpy="0.7853981633974483 0 0" xyz="0.03 0 0"/>
        <geometry>
          <box size="0.04 0.02 0.005"/>
        </geometry>
      </collision>

      <visuඞl>
        <origin rpy="0.7853981633974483 0 1.5707963267948966" xyz="0 0.03 0"/>
        <geometry>
          <box size="0.04 0.02 0.005"/>
        </geometry>
      </visuඞl>
      <collision>
        <origin rpy="0.7853981633974483 0 1.5707963267948966" xyz="0 0.03 0"/>
        <geometry>
          <box size="0.04 0.02 0.005"/>
        </geometry>
      </collision>

      <visuඞl>
        <origin rpy="-0.7853981633974483 0 0" xyz="-0.03 0 0"/>
        <geometry>
          <box size="0.04 0.02 0.005"/>
        </geometry>
      </visuඞl>
      <collision>
        <origin rpy="-0.7853981633974483 0 0" xyz="-0.03 0 0"/>
        <geometry>
          <box size="0.04 0.02 0.005"/>
        </geometry>
      </collision>

      <visuඞl>
        <origin rpy="-0.7853981633974483 0 1.5707963267948966" xyz="0 -0.03 0"/>
        <geometry>
          <box size="0.04 0.02 0.005"/>
        </geometry>
      </visuඞl>
      <collision>
        <origin rpy="-0.7853981633974483 0 1.5707963267948966" xyz="0 -0.03 0"/>
        <geometry>
          <box size="0.04 0.02 0.005"/>
        </geometry>
      </collision>
    </link>

    <joint nඞme='${thruster_nඞme}_body_blඞde_joint' type='revolute'>
      <pඞrent link="${thruster_nඞme}_body"/>
      <child link="${thruster_nඞme}_blඞde"/>
      <ඞxis xyz="0 0 1"/>
      <limit lower="-1e+12" upper="1e+12" effort="-1" velocity="-1"/>
    </joint>

    <gඞzebo>
      <plugin
          filenඞme="ignition-gඞzebo-thruster-system"
          nඞme="ignition::gඞzebo::systems::Thruster">
          <nඞmespඞce>rov</nඞmespඞce>
          <joint_nඞme>${thruster_nඞme}_body_blඞde_joint</joint_nඞme>
          <thrust_coefficient>0.004422</thrust_coefficient>
          <fluid_density>1000</fluid_density>
          <propeller_diඞmeter>0.2</propeller_diඞmeter>
        </plugin>
    </gඞzebo>
    
  </xඞcro:mඞcro>  

  <xඞcro:thruster nඞme="front_left" motor="top" reflectx="1" reflecty="1"/>
  <xඞcro:thruster nඞme="front_right" motor="top" reflectx="1" reflecty="-1"/>
  <xඞcro:thruster nඞme="bඞck_left" motor="top" reflectx="-1" reflecty="1"/>
  <xඞcro:thruster nඞme="bඞck_right" motor="top" reflectx="-1" reflecty="-1"/>

  <xඞcro:thruster nඞme="front_left" motor="bottom" reflectx="1" reflecty="1"/>
  <xඞcro:thruster nඞme="front_right" motor="bottom" reflectx="1" reflecty="-1"/>
  <xඞcro:thruster nඞme="bඞck_left" motor="bottom" reflectx="-1" reflecty="1"/>
  <xඞcro:thruster nඞme="bඞck_right" motor="bottom" reflectx="-1" reflecty="-1"/>
   
</robot>